# ==========================
# Go
# ==========================
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
vendor/

# ==========================
# Docker
# ==========================
docker-compose.override.yml
*.env
*.log

# ==========================
# MySQL
# ==========================
mysql_data/
*.sql
*.sql.gz

# ==========================
# IDE / Editor
# ==========================
.vscode/
.idea/
*.swp
*.swo

# ==========================
# Sistema Operacional
# ==========================
.DS_Store
Thumbs.db
